:root{
    --regular: 'DotGothic16', sans-serif;
    --highlight: 'Silkscreen', cursive;
}
*{
    font-family: var(--highlight);
}
body{
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 850px;
    overflow-x: hidden;
    font-family: var(--highlight);
}

.bg-video{
    position: absolute;
    margin: 0;
    z-index: -1;
    min-height: 850px;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    object-fit: cover;
    filter: brightness(0.7);
}

h1{
    font-size: 40px;
    margin-bottom: 0;
}
#version{
    margin-top: 0;
    margin-bottom: 20px;
}
.canvas-container{
    background-color: rgba(255, 255, 255, 0.808);
    margin: 20px auto;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    min-width: 250px;
    max-width: 500px;
    width: 90%;
    aspect-ratio: 1;
    /* flex-grow: 1; */
    display: grid;
    grid-template: repeat(10, 1fr)/repeat(10, 1fr);
    user-select: none;
}
.box{
    border-left: 1px gray solid;
    border-top: 1px gray solid;
    font-size: 10px;
    color: black;
}
.toolbar{
    display: flex;
    justify-content: center;
    gap: 10%;
    min-width: 300px;
    max-width: 500px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.744);
    margin: 0 auto 30px;
}
.tool-box{
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
}
.tool-box p, .tool-box h4{
    margin-top: 0;
}
.tool-box button{
    margin: auto;
    font-size: 15px;
}
.tool-box-row{
    display: flex;
}
.no-grid{
    border-left: unset;
    border-top: unset;
}
.button{
    font-family: var(--highlight);
}
#fill-button{
    font-size: 15px;
}
.button-selected{
    background-color: yellow;
}
